<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trabajo Final Magento Suite">

    <listeners>
        <listener class-name="com.store.listeners.TestListener"></listener>
    </listeners>

    <test name="Magento Tests">
        <groups>
            <run>
                <include name="functional"/>
                <include name="regression"/>
                <include name="integration"/>
            </run>
        </groups>
        <classes>
            <class name="com.store.tests.RegisterTest"/>
            <class name="com.store.tests.LoginTest"/>
            <class name="com.store.tests.OrderTest"/>
        </classes>
    </test>
</suite>
